/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');

:root {
  font-family: Arial, sans-serif;
  font-size: 10px;
            display: flex;
  flex-wrap: wrap;
            justify-content: center;
          
 

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.image-card {
  border: 1px solid #ddd;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  width: calc(30% - 30px); 
  box-sizing: border-box;
}
.card-image {
max-width: 100%;
height: auto;
}

.card-details {
margin-top: 5px;
display: flex;
flex-wrap: nowrap;
}
div{
display: flex;
flex-wrap: wrap;
justify-content: center; 
align-items: center;
}

.large-image {
max-width: 100%;
height: auto;

}
.card-text {
display: flex;;
width: 100%;
}
